@import url(homestyle.css);

.countdown-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
}
  
#countdown-timer
{
	text-align: center;
	background-color: #444;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
	color: white;
	max-width: 400px;
        width: 90%;
}
  
#timer
{
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 20px;
}